# nano temp file
*.swp

# generic GNU executable
a.out

# betty and gcc combined
# bash command: betty $FILE && gcc $FILE && ./a.out
test

# from 0x05. C - Pointers, arrays and strings
101-crackme

# from 0x07. C - Even more pointers, arrays and strings
crackme2
